<fieldset>
    <legend>Nahrať fotky</legend>
</fieldset>

{control upload}

{snippet photos}
    {if count($photos) === 0}
        <div class="alert alert-info">
            Prvok neobsahuje žiadne fotky.
        </div>
    {else}
        <div class="alert alert-info">
            Poradie fotiek zmeníte podržaním myši a presunutím na požadované miesto.
        </div>

        <ul class="photos sortable" data-save-url="{link order}">
            {foreach $photos as $photo}
                <li class="photos__photo" data-id="{$photo->id}">
                    <div class="thumbnail">
                        <ul class="tools">
                            <li><a href="{link remove $photo->id}" class="btn btn-danger btn-round ajax" data-confirm="Naozaj si želáte odstrániť túto fotku?"><i class="fa fa-trash"></i></a></li>
                            <li><a href="{link rotate $photo->id}" class="btn btn-primary btn-round ajax" title="Otočit fotku"><i class="fa fa-repeat"></i></a></li>
                        </ul>
                        <a href="{file $photo->file}" target="_blank">
                            <img src="{thumb key => $photo->file, width => 200}">
                        </a>
                    </div>
                </li>
            {/foreach}
        </ul>
    {/if}
{/snippet}