<div class="row">
    {foreach $photos as $photo}
        <div class="col-md-2" id="{$photo->id}">
            <div class="thumbnail photo">
                <div class="photo">
                    <img src="{thumb key => $photo->file, width => 200}">
                </div>
            </div>
        </div>
    {/foreach}
</div>