<div class="photos">
    <div class="photos__photo" n:foreach="$photos as $photo">
        <a href="{file $photo->file}" class="fancybox" rel="{$control->getParameterId('photos')}" title="{$photo->name}">
            <img src="{thumb key => $photo->file, width => $element->settings->width, height => $element->settings->height}" class="photos__photo__image">
        </a>
    </div>
</div>