.photos {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.photos__photo {
    width: 200px;
    display: inline-block;
    margin: 15px;
    cursor: move;
}
.photos__photo > .thumbnail {
    margin-bottom: 0;
}